.container-fluid {
    background-color: yellow;
}

header, main, section {
    height: 250px;
}

header {
    background-color: blue;
}

nav {
    background-color: green;
}

main > div {
    background-color: red;
}

main > aside {
    background-color: aqua;
}

main > div, 
main > aside {
    height: 250px;
}

section > div {
    height: 200px;
    background-color: purple;
}

footer {
    background-color: #000;
    color: #fff;
}